
            * {
                font-family: Arial, sans-serif;
                background-color: #C7E6F0;
            }

            h1, h2 {
                color: #4A5B8F;
                width: 60%;
                margin: 10px auto;
            }

            h1 {
                margin-bottom: 20px;
            }
           /*  h2 {
                color: #4A5B8F;
                
            } */
            
            head {
                color: orange;
            }

            table {
                width: 60%;
                margin: 10px auto;
                
                border: 5px #C7E6F0;
                border-radius: 5px;
            }

            td {
                background-color: white; 
                text-align: center;
                padding: 10px;
            }

            th {
                background-color: #F79F72;
                text-align: center;
                padding: 7px;
            }

         