
            * {
                font-family: Arial, sans-serif;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            header {
                margin: 0;
                width: 100%;
            }

            body {
                background-color: #C7E6F0;
                margin: 0;
            }

            body > div {
                background-color: rgb(247, 248, 250);
                width: 90%;
                max-width: 1300px;
                margin: 0 auto;
                border-radius: 10px;
                padding: 30px;
                box-shadow: 2px 5px 20px rgb(182, 180, 180) ;
            }

            h1 {
                color: #4A5B8F;
                background-color: #F79F72;
                padding: 15px;
                margin: 0;
                text-align: center;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                text-align: center;
                background-color: rgb(247, 244, 244);
                margin-bottom: 40px;
            }

            li {
                display: inline-block;
            }

            a {
                display: block;
                text-decoration: none;
                padding: 20px;
                color: #4A5B8F;
                font-weight: bold;
            }

            h2 {
                color: #4A5B8F;
                background-color: #C7E6F0;
                margin-top: 40px;
                padding: 10px;
                text-align: center;
            }
            
            .tabla {
                width: 100%;
                overflow-x: auto;
                margin-bottom: 20px;
            }

            table {
                width: 100%;
                margin-top: 10px;
                border: 5px #C7E6F0;
                border-radius: 5px;
            }

            td {
                background-color: white; 
                text-align: center;
                padding: 10px;
                border: 1px solid #C7E6F0;

            }

            th {
                background-color: #F79F72;
                text-align: center;
                padding: 7px;
                border: 1px solid #C7E6F0;
            }

            footer {
                background-color: #F79F72;
                text-align: center;
                color: #4A5B8F;
                font-weight: bold;
                padding: 30px;
                margin-top: 40px;
            }
         